$backgroundColor: #262626 !default;
$r1Color: #73030D !default;
$r2Color: #F21B42 !default;
$r3Color: #F25E3D !default;
$r4Color: #F24C3D !default;

$vape1: #EF13F2 !default;
$vape2: #650BBF !default;
$vape3: #3F1973 !default;
$vape4: #447EF2 !default;
$vape5: #05F2DB !default;

$oneColor: #FFFFFF !default;
$twoColor: #282C34 !default;
$threeColor: #3B404B !default;
$lightColor: #ABB2BE !default;
$lightblueColor: #3B414D !default;
$redColor: #DE6D77 !default;
$blueColor: #65B0ED !default;

// /* Color Theme Swatches in Hex */
// $Vaporwave-Desert-Road-1-hex: #EF13F2;
// $Vaporwave-Desert-Road-2-hex: #650BBF;
// $Vaporwave-Desert-Road-3-hex: #3F1973;
// $Vaporwave-Desert-Road-4-hex: #447EF2;
// $Vaporwave-Desert-Road-5-hex: #05F2DB;

// $oneColor: #21252B !default;
// $twoColor: #282C34 !default;
// $threeColor: #3B404B !default;
// $lightColor: #ABB2BE !default;
// $lightblueColor: #3B414D !default;
// $redColor: #DE6D77 !default;
// $blueColor: #65B0ED !default;
